*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	tab-size: 4;
}

/* RESET UNTUK SECTION */
body {
	margin: 0;
}
/* TEXT  */
b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}
table {
	border-color: currentcolor;
}

/* RESET UNTUK FORM  */
button,
input,
select,
textarea {
	font-family: inherit; 
	font-size: 100%; 
	line-height: 1.15; 
	margin: 0; 
}


/* RESET BUTTON  */
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
legend {
	padding: 0;
}
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/* summary {
	display: list-item;
} */