.company {
  margin-top: 3rem;
  /* border-top: 2px solid var(--clr-slate600); */

}
.company__title {
  font-size: var(--size-xs);
  color: var(--clr-light);
  text-align: center;
  margin-bottom: var(--size-3xl);
  /* margin-top: var(--size-6xl); */
  font-weight: 600;
  word-spacing: -0.07em;
  font-family: "Satoshi", sans-serif;
}

.company__wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  .company__item {
    width: 200px;
    height: 100px;
    font-size: var(--size-5xl);
    color: var(--clr-slate600);
    /* font-size: var(--size-6xl); ini untuk laptop level  */
    border-radius: 6px;
    position: absolute;
    left: max(calc(100px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .company__item-1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
  
  .company__item-2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
  
  .company__item-3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
  
  .company__item-4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
  
  .company__item-5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
  
  .company__item-6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
  
  .company__item-7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
  
  .company__item-8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }


/* xs */
@media (min-width: 475px){}
/* sm  */
@media (min-width: 640px){}
/* md  */
@media (min-width: 768px){
  .company__title {
    font-size: var(--size-base);
  }
}
/* lg  */
@media (min-width: 1024px){
  .company__item {
    font-size: var(--size-6xl);
  }
  .company__title {
    margin-bottom: var(--size-5xl);
    font-size: var(--size-xl);
  }
}
/* xl  */
@media (min-width: 1280px){}
/* 2xl  */
@media (min-width: 1536px){}