.bg__signin {
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0)) !important;

}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: var(--size-6xl);


}
.signin__container {
    width: 100%;
    max-width: 24rem;
    padding: 24px;
    margin-bottom: var(--size-6xl);
    background-color: var(--clr-slate800);
    border: 1px solid var(--clr-border);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signin__group-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.signin__title {
    font-size: var(--size-2xl);
    font-weight: 700;
    word-spacing: -0.05em;
    font-family: "Satoshi", sans-serif;
    color: var(--clr-light);
}
.signin__subtitle {
    font-size: var(--size-sm);
    word-spacing: -0.05em;
    color: var(--clr-slate400);

}
.signin__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signin__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: var(--size-xs);
    font-weight: 500;
    color: var(--clr-light);
    font-family: "Satoshi", sans-serif;
}

input[type="email"],
input[type="password"] {
    background-color: var(--clr-gray800);
    border: 1px solid var(--clr-gray700);
    color: var(--clr-light);
    font-size: 0.875rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.signin__input-group input::placeholder {
    color: #9ca3af;
}
input:focus {
    border-color: #3b82f6;
    ring-color: #3b82f6;
}

.signin__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.signin__forgot {
    font-size: var(--size-xs);
    color: var(--clr-sky);
    font-weight: 400;
    text-decoration: none;
}
.signin__term {
    font-weight: 600;
}
.signin__term:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;   
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    background-color: #f9fafb;
}

.btn-3rd {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
    border: 1px solid var(--clr-border);
}
.btn-submit {
    box-shadow: none;
    transition: 0.3s ease-in-out;
}
.btn-submit {
    transform: translateY(-3px) !important;
}
.btn-3rd:hover {
    background-color: var(--clr-border) !important;
}
.google__logo {
    font-size: var(--size-xl);
}

.register-text {
    font-size: var(--size-xs);
    color: var(--clr-slate400);
    text-align: center;
}

.register-text a {
    color:var(--clr-sky);
}

.register-text a:hover {
    text-decoration: underline;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--size-xs);
  gap: var(--size-xs);
  color: var(--clr-light);
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #334155;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}


/* xs */
@media (min-width: 475px){}
/* sm  */
@media (min-width: 640px){}
/* md  */
@media (min-width: 768px){
    label {
        font-size: var(--size-sm);
        font-weight: 600;
    }
    .register-text {
        font-size: var(--size-sm);
    }
    .signin__forgot {
        font-size: var(--size-sm);
    }
}
/* lg  */
@media (min-width: 1024px){}
/* xl  */
@media (min-width: 1280px){}
/* 2xl  */
@media (min-width: 1536px){}


